{%  extends  "base.html"   %}
{% block content %}
{% load static %}
<body style="background-color:rgb(134, 195, 193);">
<img src="{% static 'amgtwo.jpg' %}" alt="My image"style="width:1500px;height:600px;">

<h1>Community Update</h1>
<main>

    <h2>Discover Our Latest Models</h2>
    <p>At our dealership, we pride ourselves on offering the newest and most advanced cars on the market. Whether you're in the market for a sleek sports car or a family-friendly SUV, we've got you covered.</p>

    <h3>New Car Inventory</h3>
    <ul>
        <li>
            <h4>2023 Tesla Model S</h4>
            <p>Starting at $79,990</p>
            
        </li>
        <li>
            <h4>2023 Toyota Camry</h4>
            <p>Starting at $25,650</p>
            
        </li>
        <li>
            <h4>2023 Ford Explorer</h4>
            <p>Starting at $32,225</p>
            
        </li>
    </ul>

    <h3>Why Buy From Us?</h3>
    <p>Not only do we offer the latest models from top brands, but we also provide exceptional customer service and competitive pricing. Plus, our experienced sales team can help you find the perfect car to fit your needs and budget.</p>
</main>



</body>
{% endblock content %}