{% extends "base.html" %}
{% block content %}
<div>
<h1>Edit post</h1>
<form action="" method="post"enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Update">
</ form >
</div>
<style>
    div{
        text-align: center;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #cfb968;
      
    }
    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #955353;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    h1 {
      color: #333333;
    }
    
    p {
      color: #666666;
      line-height: 1.6;
    }
  </style>


{% endblock content %}

